<!--The content below is only a placeholder and can be replaced.-->
<div class="application">
  <div class="history-container">
    <app-history></app-history>
  </div>
  <div class="files-container">
    <app-files></app-files>
  </div>
  <div
    class="dnd-container"
    [style.opacity]="dragEnterCounter !== 0 ? 1.0 : 0.0"
    (dragenter)="onDragEnter($event)"
    (dragleave)="onDragLeave($event)"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <div class="dnd-description-container">
      <div class="dnd-description">
        <div class="text">ここにファイルをドロップ</div>
      </div>
    </div>
  </div>
</div>
